<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!-- Use these connection strings to send messages to the maindev environment -->
    <!-- @Madhav, if you change this, don't check it in. -->
    <!-- It is easy to change it back to SQLExpress if you need to -->
    <add name="NServiceBus/Transport" 
         connectionString="Data Source=172.20.27.248;Initial Catalog=nservicebus_db;Integrated Security=False;User ID=nservicebus_user;Password=123asdQ!;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" providerName="System.Data.SqlClient" />
    <add name="NServiceBus/Persistence" 
         connectionString="Data Source=172.20.27.248;Initial Catalog=nservicebus_db;Integrated Security=False;User ID=nservicebus_user;Password=123asdQ!;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" providerName="System.Data.SqlClient"/>
   
   <!-- <add name="NServiceBus/Transport" 
         connectionString="Data Source=LORDEROT\LORDEROT;Initial Catalog=nservicebus_db;Integrated Security=false;User ID=sa;Password=1;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" providerName="System.Data.SqlClient" />
    <add name="NServiceBus/Persistence" 
         connectionString="Data Source=LORDEROT\LORDEROT;Initial Catalog=nservicebus_db;Integrated Security=false;User ID=sa;Password=1;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" providerName="System.Data.SqlClient"/> -->
   
  
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Castle.Windsor" publicKeyToken="407dd0808d44fbdc" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.0.0" newVersion="3.3.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>